<nav class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">Angular Webshop</a>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-3" id="sidebar">
			<div class="list-group">
				<category-list></category-list>
			</div>
		</div>

		<div class="col-xs-12 col-sm-9" id="content">
			<div class="row">
				<router-outlet></router-outlet>
			</div>
		</div>
	</div>

	<hr>

	<footer>
		<p>&copy; 2016 Company, Inc.</p>
	</footer>
</div>